<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= _.slugify(projName) %></title>
        <meta name="description" content="<%= projDescription %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
        <link rel="stylesheet" href="styles/styles.css">

    </head>
    <body>

        <!-- JavaScript Resources -->
        <script type="text/javascript" src="/bower_components/html5-polyfills/array.js"></script>
        <script type="text/javascript" src="/bower_components/html5-polyfills/classList.js"></script>
        <script type="text/javascript" src="/bower_components/html5-polyfills/dataset.js"></script>
        <script type="text/javascript" src="/bower_components/html5-polyfills/EventSource.js"></script>
        <script type="text/javascript" src="/bower_components/html5-polyfills/input-target.js"></script>
        <script type="text/javascript" src="/bower_components/html5-polyfills/keys.js"></script>
        <script type="text/javascript" src="/bower_components/html5-polyfills/offline-events.js"></script>
        <script type="text/javascript" src="/bower_components/html5-polyfills/range.js"></script>
        <script type="text/javascript" src="/bower_components/html5-polyfills/sessionStorage.js"></script>
        <script type="text/javascript" src="/bower_components/html5-polyfills/Storage.js"></script><% if (includejQuery) { %>
        <script type="text/javascript" src="/bower_components/jquery/jquery.js"></script><% } %><% if (includeZepto) { %>
        <script type="text/javascript" src="/bower_components/zepto/zepto.js"></script><% } %>
        
        <!-- JavaScript Development -->
        <script type="text/javascript" src="scripts/main.js"></script>

    </body>
</html>
